%ul.list-unstyled.clearfix
  %li.col-md-2.col-sm-6
    %h5 Destinations
    %ul.list-unstyled
      %li=link_to "France"
      %li=link_to "Angleterre"
      %li=link_to "Etats-Unis"
      %li=link_to "Chypre"
      %li=link_to "Canada"
      %li=link_to "Irlande"
  %li.col-md-2.col-sm-6
    %h5 Information
    %ul.list-unstyled
      %li=link_to "Hello"
      %li=link_to "Hello"
      %li=link_to "Hello"
      %li=link_to "Hello"
      %li=link_to "Hello"
    